stack-components/node-red/templates/industrial-dashboard-templates.json
{
  "templates": {
    "oee_dashboard": {
      "name": "OEE Manufacturing Dashboard",
      "description": "Overall Equipment Effectiveness monitoring with availability, performance, and quality metrics",
      "category": "manufacturing",
      "flows": [
        {
          "id": "oee_tab",
          "type": "ui_tab",
          "name": "OEE Dashboard",
          "icon": "trending_up",
          "order": 1,
          "disabled": false,
          "hidden": false
        },
        {
          "id": "oee_overview_group",
          "type": "ui_group",
          "name": "OEE Overview",
          "tab": "oee_tab",
          "order": 1,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "oee_gauge",
          "type": "ui_gauge",
          "group": "oee_overview_group",
          "name": "Overall OEE",
          "order": 1,
          "width": "8",
          "height": "6",
          "gtype": "gage",
          "title": "Overall Equipment Effectiveness",
          "label": "%",
          "format": "{{value}}",
          "min": 0,
          "max": 100,
          "colors": ["#ca3838", "#e6e600", "#00b500"],
          "seg1": "65",
          "seg2": "85",
          "className": "",
          "x": 200,
          "y": 100,
          "wires": []
        },
        {
          "id": "availability_gauge",
          "type": "ui_gauge",
          "group": "oee_overview_group",
          "name": "Availability",
          "order": 2,
          "width": "5",
          "height": "4",
          "gtype": "donut",
          "title": "Availability",
          "label": "%",
          "format": "{{value}}",
          "min": 0,
          "max": 100,
          "colors": ["#ca3838", "#e6e600", "#00b500"],
          "seg1": "85",
          "seg2": "95",
          "className": "",
          "x": 400,
          "y": 80,
          "wires": []
        },
        {
          "id": "performance_gauge",
          "type": "ui_gauge",
          "group": "oee_overview_group",
          "name": "Performance",
          "order": 3,
          "width": "5",
          "height": "4",
          "gtype": "donut",
          "title": "Performance",
          "label": "%",
          "format": "{{value}}",
          "min": 0,
          "max": 100,
          "colors": ["#ca3838", "#e6e600", "#00b500"],
          "seg1": "85",
          "seg2": "95",
          "className": "",
          "x": 520,
          "y": 80,
          "wires": []
        },
        {
          "id": "quality_gauge",
          "type": "ui_gauge",
          "group": "oee_overview_group",
          "name": "Quality",
          "order": 4,
          "width": "6",
          "height": "4",
          "gtype": "donut",
          "title": "Quality",
          "label": "%",
          "format": "{{value}}",
          "min": 0,
          "max": 100,
          "colors": ["#ca3838", "#e6e600", "#00b500"],
          "seg1": "95",
          "seg2": "99",
          "className": "",
          "x": 640,
          "y": 80,
          "wires": []
        },
        {
          "id": "production_trend_group",
          "type": "ui_group",
          "name": "Production Trend",
          "tab": "oee_tab",
          "order": 2,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "production_chart",
          "type": "ui_chart",
          "group": "production_trend_group",
          "name": "Production Rate",
          "order": 1,
          "width": "24",
          "height": "8",
          "label": "Production Rate (units/hour)",
          "chartType": "line",
          "legend": "true",
          "xformat": "HH:mm",
          "interpolate": "linear",
          "nodata": "No Data",
          "dot": false,
          "ymin": "0",
          "ymax": "",
          "removeOlder": 1,
          "removeOlderPoints": "",
          "removeOlderUnit": "86400",
          "cutout": 0,
          "useOneColor": false,
          "useUTC": false,
          "colors": ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22"],
          "outputs": 1,
          "x": 400,
          "y": 200,
          "wires": [[]]
        },
        {
          "id": "downtime_analysis_group",
          "type": "ui_group",
          "name": "Downtime Analysis",
          "tab": "oee_tab",
          "order": 3,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "downtime_pie",
          "type": "ui_chart",
          "group": "downtime_analysis_group",
          "name": "Downtime Reasons",
          "order": 1,
          "width": "12",
          "height": "8",
          "label": "Downtime Breakdown",
          "chartType": "pie",
          "legend": "true",
          "xformat": "HH:mm",
          "interpolate": "linear",
          "nodata": "No Downtime Data",
          "dot": false,
          "ymin": "",
          "ymax": "",
          "removeOlder": "1",
          "removeOlderPoints": "",
          "removeOlderUnit": "86400",
          "cutout": "30",
          "useOneColor": false,
          "useUTC": false,
          "colors": ["#d62728", "#ff7f0e", "#2ca02c", "#1f77b4", "#9467bd"],
          "outputs": 1,
          "x": 300,
          "y": 300,
          "wires": [[]]
        },
        {
          "id": "downtime_table",
          "type": "ui_table",
          "group": "downtime_analysis_group",
          "name": "Recent Downtime Events",
          "order": 2,
          "width": "12",
          "height": "8",
          "columns": [
            {"field": "start", "title": "Start Time", "width": "150"},
            {"field": "duration", "title": "Duration", "width": "100"},
            {"field": "reason", "title": "Reason", "width": "200"},
            {"field": "operator", "title": "Operator", "width": "120"}
          ],
          "outputs": 0,
          "cts": false,
          "x": 500,
          "y": 300,
          "wires": []
        }
      ]
    },
    
    "alarm_management": {
      "name": "Industrial Alarm Management",
      "description": "Comprehensive alarm monitoring with prioritization, acknowledgment, and trending",
      "category": "safety",
      "flows": [
        {
          "id": "alarms_tab",
          "type": "ui_tab",
          "name": "Alarm Management",
          "icon": "warning",
          "order": 2,
          "disabled": false,
          "hidden": false
        },
        {
          "id": "active_alarms_group",
          "type": "ui_group",
          "name": "Active Alarms",
          "tab": "alarms_tab",
          "order": 1,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "alarm_summary",
          "type": "ui_template",
          "group": "active_alarms_group",
          "name": "Alarm Summary",
          "order": 1,
          "width": "24",
          "height": "3",
          "format": "<div style=\"display: flex; justify-content: space-around; padding: 10px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); border-radius: 8px; color: white;\"><div style=\"text-align: center;\"><div style=\"font-size: 28px; font-weight: bold; color: #ff4444;\">{{msg.payload.critical || 0}}</div><div>Critical</div></div><div style=\"text-align: center;\"><div style=\"font-size: 28px; font-weight: bold; color: #ffaa00;\">{{msg.payload.warning || 0}}</div><div>Warning</div></div><div style=\"text-align: center;\"><div style=\"font-size: 28px; font-weight: bold; color: #4488ff;\">{{msg.payload.info || 0}}</div><div>Info</div></div><div style=\"text-align: center;\"><div style=\"font-size: 28px; font-weight: bold; color: #44ff44;\">{{msg.payload.acknowledged || 0}}</div><div>Acknowledged</div></div></div>",
          "storeOutMessages": true,
          "fwdInMessages": true,
          "resendOnRefresh": true,
          "templateScope": "local",
          "x": 400,
          "y": 100,
          "wires": [[]]
        },
        {
          "id": "alarm_table",
          "type": "ui_table",
          "group": "active_alarms_group",
          "name": "Active Alarm List",
          "order": 2,
          "width": "24",
          "height": "12",
          "columns": [
            {"field": "timestamp", "title": "Time", "width": "140", "align": "left"},
            {"field": "severity", "title": "Severity", "width": "80", "align": "center"},
            {"field": "equipment", "title": "Equipment", "width": "150", "align": "left"},
            {"field": "tag", "title": "Tag", "width": "120", "align": "left"},
            {"field": "description", "title": "Description", "width": "300", "align": "left"},
            {"field": "value", "title": "Current Value", "width": "100", "align": "right"},
            {"field": "setpoint", "title": "Setpoint", "width": "100", "align": "right"},
            {"field": "ack", "title": "Ack", "width": "60", "align": "center"}
          ],
          "outputs": 1,
          "cts": true,
          "x": 400,
          "y": 200,
          "wires": [["alarm_acknowledge"]]
        },
        {
          "id": "alarm_acknowledge",
          "type": "function",
          "name": "Acknowledge Alarm",
          "func": "// Handle alarm acknowledgment\nif (msg.payload && msg.payload.rowIndex !== undefined) {\n    const alarmData = msg.payload;\n    \n    // Create acknowledgment message\n    const ackMsg = {\n        topic: 'alarm/acknowledge',\n        payload: {\n            alarmId: alarmData.id,\n            acknowledgedBy: global.get('currentUser') || 'System',\n            acknowledgedAt: new Date().toISOString(),\n            rowIndex: alarmData.rowIndex\n        }\n    };\n    \n    node.status({fill: 'green', shape: 'dot', text: `Alarm ${alarmData.id} acknowledged`});\n    \n    return ackMsg;\n}\n\nreturn null;",
          "outputs": 1,
          "noerr": 0,
          "initialize": "",
          "finalize": "",
          "libs": [],
          "x": 600,
          "y": 200,
          "wires": [["alarm_storage"]]
        },
        {
          "id": "alarm_history_group",
          "type": "ui_group",
          "name": "Alarm History & Trends",
          "tab": "alarms_tab",
          "order": 2,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "alarm_trend_chart",
          "type": "ui_chart",
          "group": "alarm_history_group",
          "name": "Alarm Frequency Trend",
          "order": 1,
          "width": "12",
          "height": "8",
          "label": "Alarms per Hour",
          "chartType": "bar",
          "legend": "true",
          "xformat": "HH:mm",
          "interpolate": "linear",
          "nodata": "No Alarm Data",
          "dot": false,
          "ymin": "0",
          "ymax": "",
          "removeOlder": 1,
          "removeOlderPoints": "",
          "removeOlderUnit": "86400",
          "cutout": 0,
          "useOneColor": false,
          "useUTC": false,
          "colors": ["#d62728", "#ff7f0e", "#2ca02c"],
          "outputs": 1,
          "x": 300,
          "y": 350,
          "wires": [[]]
        },
        {
          "id": "top_alarms_chart",
          "type": "ui_chart",
          "group": "alarm_history_group",
          "name": "Top Alarm Sources",
          "order": 2,
          "width": "12",
          "height": "8",
          "label": "Most Frequent Alarms (24h)",
          "chartType": "horizontalBar",
          "legend": "false",
          "xformat": "HH:mm",
          "interpolate": "linear",
          "nodata": "No Data",
          "dot": false,
          "ymin": "0",
          "ymax": "",
          "removeOlder": 1,
          "removeOlderPoints": "",
          "removeOlderUnit": "86400",
          "cutout": 0,
          "useOneColor": true,
          "useUTC": false,
          "colors": ["#ff7f0e"],
          "outputs": 1,
          "x": 500,
          "y": 350,
          "wires": [[]]
        }
      ]
    },
    
    "process_overview": {
      "name": "Process Overview Dashboard",
      "description": "Real-time process monitoring with key parameters, trends, and control loops",
      "category": "process",
      "flows": [
        {
          "id": "process_tab",
          "type": "ui_tab",
          "name": "Process Overview",
          "icon": "settings",
          "order": 3,
          "disabled": false,
          "hidden": false
        },
        {
          "id": "key_parameters_group",
          "type": "ui_group",
          "name": "Key Process Parameters",
          "tab": "process_tab",
          "order": 1,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "temperature_gauge",
          "type": "ui_gauge",
          "group": "key_parameters_group",
          "name": "Process Temperature",
          "order": 1,
          "width": "6",
          "height": "5",
          "gtype": "gage",
          "title": "Temperature",
          "label": "°C",
          "format": "{{value}}",
          "min": 0,
          "max": 200,
          "colors": ["#00b500", "#e6e600", "#ca3838"],
          "seg1": "150",
          "seg2": "180",
          "className": "",
          "x": 150,
          "y": 100,
          "wires": []
        },
        {
          "id": "pressure_gauge",
          "type": "ui_gauge",
          "group": "key_parameters_group",
          "name": "System Pressure",
          "order": 2,
          "width": "6",
          "height": "5",
          "gtype": "gage",
          "title": "Pressure",
          "label": "bar",
          "format": "{{value}}",
          "min": 0,
          "max": 10,
          "colors": ["#00b500", "#e6e600", "#ca3838"],
          "seg1": "8",
          "seg2": "9",
          "className": "",
          "x": 270,
          "y": 100,
          "wires": []
        },
        {
          "id": "flow_gauge",
          "type": "ui_gauge",
          "group": "key_parameters_group",
          "name": "Flow Rate",
          "order": 3,
          "width": "6",
          "height": "5",
          "gtype": "gage",
          "title": "Flow Rate",
          "label": "L/min",
          "format": "{{value}}",
          "min": 0,
          "max": 1000,
          "colors": ["#ca3838", "#e6e600", "#00b500"],
          "seg1": "100",
          "seg2": "800",
          "className": "",
          "x": 390,
          "y": 100,
          "wires": []
        },
        {
          "id": "level_gauge",
          "type": "ui_gauge",
          "group": "key_parameters_group",
          "name": "Tank Level",
          "order": 4,
          "width": "6",
          "height": "5",
          "gtype": "wave",
          "title": "Tank Level",
          "label": "%",
          "format": "{{value}}",
          "min": 0,
          "max": 100,
          "colors": ["#ca3838", "#e6e600", "#00b500"],
          "seg1": "20",
          "seg2": "80",
          "className": "",
          "x": 510,
          "y": 100,
          "wires": []
        },
        {
          "id": "process_trends_group",
          "type": "ui_group",
          "name": "Process Trends",
          "tab": "process_tab",
          "order": 2,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "process_trend_chart",
          "type": "ui_chart",
          "group": "process_trends_group",
          "name": "Process Variables Trend",
          "order": 1,
          "width": "24",
          "height": "10",
          "label": "Process Variables (Last 8 Hours)",
          "chartType": "line",
          "legend": "true",
          "xformat": "HH:mm",
          "interpolate": "linear",
          "nodata": "No Process Data",
          "dot": false,
          "ymin": "",
          "ymax": "",
          "removeOlder": 1,
          "removeOlderPoints": "",
          "removeOlderUnit": "28800",
          "cutout": 0,
          "useOneColor": false,
          "useUTC": false,
          "colors": ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b"],
          "outputs": 1,
          "x": 400,
          "y": 250,
          "wires": [[]]
        },
        {
          "id": "control_loops_group",
          "type": "ui_group",
          "name": "Control Loops Status",
          "tab": "process_tab",
          "order": 3,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "pid_status_template",
          "type": "ui_template",
          "group": "control_loops_group",
          "name": "PID Controllers Status",
          "order": 1,
          "width": "24",
          "height": "8",
          "format": "<div style=\"display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 15px; padding: 15px;\"> <div ng-repeat=\"loop in msg.payload.controlLoops\" style=\"background: white; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); padding: 15px; border-left: 4px solid {{loop.status === 'AUTO' ? '#4CAF50' : '#FF9800'}};\"> <div style=\"display: flex; justify-content: between; align-items: center; margin-bottom: 10px;\"> <h4 style=\"margin: 0; color: #333;\">{{loop.name}}</h4> <span style=\"background: {{loop.status === 'AUTO' ? '#4CAF50' : '#FF9800'}}; color: white; padding: 2px 8px; border-radius: 12px; font-size: 12px;\">{{loop.status}}</span> </div> <div style=\"display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; font-size: 14px;\"> <div><strong>PV:</strong> {{loop.processValue}} {{loop.unit}}</div> <div><strong>SP:</strong> {{loop.setpoint}} {{loop.unit}}</div> <div><strong>Output:</strong> {{loop.output}}%</div> </div> <div style=\"margin-top: 10px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 5px; font-size: 12px; color: #666;\"> <div>P: {{loop.proportional}}</div> <div>I: {{loop.integral}}</div> <div>D: {{loop.derivative}}</div> </div> </div> </div>",
          "storeOutMessages": true,
          "fwdInMessages": true,
          "resendOnRefresh": true,
          "templateScope": "local",
          "x": 400,
          "y": 380,
          "wires": [[]]
        }
      ]
    },
    
    "energy_monitoring": {
      "name": "Energy Monitoring Dashboard",
      "description": "Comprehensive energy consumption tracking with demand analysis and efficiency metrics",
      "category": "energy",
      "flows": [
        {
          "id": "energy_tab",
          "type": "ui_tab",
          "name": "Energy Monitoring",
          "icon": "flash_on",
          "order": 4,
          "disabled": false,
          "hidden": false
        },
        {
          "id": "real_time_power_group",
          "type": "ui_group",
          "name": "Real-time Power",
          "tab": "energy_tab",
          "order": 1,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "total_power_gauge",
          "type": "ui_gauge",
          "group": "real_time_power_group",
          "name": "Total Power",
          "order": 1,
          "width": "8",
          "height": "6",
          "gtype": "gage",
          "title": "Total Power Consumption",
          "label": "kW",
          "format": "{{value}}",
          "min": 0,
          "max": 1000,
          "colors": ["#00b500", "#e6e600", "#ca3838"],
          "seg1": "700",
          "seg2": "850",
          "className": "",
          "x": 200,
          "y": 100,
          "wires": []
        },
        {
          "id": "power_factor_gauge",
          "type": "ui_gauge",
          "group": "real_time_power_group",
          "name": "Power Factor",
          "order": 2,
          "width": "8",
          "height": "6",
          "gtype": "donut",
          "title": "Power Factor",
          "label": "",
          "format": "{{value}}",
          "min": 0,
          "max": 1,
          "colors": ["#ca3838", "#e6e600", "#00b500"],
          "seg1": "0.8",
          "seg2": "0.95",
          "className": "",
          "x": 400,
          "y": 100,
          "wires": []
        },
        {
          "id": "demand_gauge",
          "type": "ui_gauge",
          "group": "real_time_power_group",
          "name": "Peak Demand",
          "order": 3,
          "width": "8",
          "height": "6",
          "gtype": "gage",
          "title": "Peak Demand (15min)",
          "label": "kW",
          "format": "{{value}}",
          "min": 0,
          "max": 1200,
          "colors": ["#00b500", "#e6e600", "#ca3838"],
          "seg1": "900",
          "seg2": "1100",
          "className": "",
          "x": 600,
          "y": 100,
          "wires": []
        },
        {
          "id": "consumption_trends_group",
          "type": "ui_group",
          "name": "Consumption Trends",
          "tab": "energy_tab",
          "order": 2,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "power_trend_chart",
          "type": "ui_chart",
          "group": "consumption_trends_group",
          "name": "Power Consumption Trend",
          "order": 1,
          "width": "24",
          "height": "8",
          "label": "Power Consumption (kW) - Last 24 Hours",
          "chartType": "line",
          "legend": "true",
          "xformat": "HH:mm",
          "interpolate": "linear",
          "nodata": "No Power Data",
          "dot": false,
          "ymin": "0",
          "ymax": "",
          "removeOlder": 1,
          "removeOlderPoints": "",
          "removeOlderUnit": "86400",
          "cutout": 0,
          "useOneColor": false,
          "useUTC": false,
          "colors": ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728"],
          "outputs": 1,
          "x": 400,
          "y": 250,
          "wires": [[]]
        },
        {
          "id": "energy_breakdown_group",
          "type": "ui_group",
          "name": "Energy Breakdown",
          "tab": "energy_tab",
          "order": 3,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "energy_pie_chart",
          "type": "ui_chart",
          "group": "energy_breakdown_group",
          "name": "Energy by Department",
          "order": 1,
          "width": "12",
          "height": "8",
          "label": "Energy Consumption by Department",
          "chartType": "pie",
          "legend": "true",
          "xformat": "HH:mm",
          "interpolate": "linear",
          "nodata": "No Data",
          "dot": false,
          "ymin": "",
          "ymax": "",
          "removeOlder": 1,
          "removeOlderPoints": "",
          "removeOlderUnit": "86400",
          "cutout": "30",
          "useOneColor": false,
          "useUTC": false,
          "colors": ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b"],
          "outputs": 1,
          "x": 300,
          "y": 380,
          "wires": [[]]
        },
        {
          "id": "cost_summary",
          "type": "ui_template",
          "group": "energy_breakdown_group",
          "name": "Cost Summary",
          "order": 2,
          "width": "12",
          "height": "8",
          "format": "<div style=\"padding: 20px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); border-radius: 10px; color: white; height: 100%;\"> <h3 style=\"margin: 0 0 20px 0; text-align: center;\">Energy Cost Summary</h3> <div style=\"display: grid; grid-template-rows: repeat(4, 1fr); gap: 15px; height: calc(100% - 60px);\"> <div style=\"background: rgba(255,255,255,0.1); padding: 15px; border-radius: 8px; display: flex; justify-content: between; align-items: center;\"> <div> <div style=\"font-size: 12px; opacity: 0.8;\">Today</div> <div style=\"font-size: 24px; font-weight: bold;\">${{msg.payload.today || '0.00'}}</div> </div> <div style=\"font-size: 14px; opacity: 0.9;\">{{msg.payload.todayKwh || '0'}} kWh</div> </div> <div style=\"background: rgba(255,255,255,0.1); padding: 15px; border-radius: 8px; display: flex; justify-content: between; align-items: center;\"> <div> <div style=\"font-size: 12px; opacity: 0.8;\">This Month</div> <div style=\"font-size: 24px; font-weight: bold;\">${{msg.payload.month || '0.00'}}</div> </div> <div style=\"font-size: 14px; opacity: 0.9;\">{{msg.payload.monthKwh || '0'}} kWh</div> </div> <div style=\"background: rgba(255,255,255,0.1); padding: 15px; border-radius: 8px; display: flex; justify-content: between; align-items: center;\"> <div> <div style=\"font-size: 12px; opacity: 0.8;\">Peak Demand Charge</div> <div style=\"font-size: 20px; font-weight: bold;\">${{msg.payload.demandCharge || '0.00'}}</div> </div> <div style=\"font-size: 14px; opacity: 0.9;\">{{msg.payload.peakDemand || '0'}} kW</div> </div> <div style=\"background: rgba(255,255,255,0.1); padding: 15px; border-radius: 8px; display: flex; justify-content: between; align-items: center;\"> <div> <div style=\"font-size: 12px; opacity: 0.8;\">Projected Monthly</div> <div style=\"font-size: 20px; font-weight: bold; color: {{msg.payload.projectedIncrease ? '#ff6b6b' : '#4ecdc4'}}\">${{msg.payload.projected || '0.00'}}</div> </div> <div style=\"font-size: 12px; opacity: 0.9;\">vs Last Month: {{msg.payload.monthlyChange || '0'}}%</div> </div> </div> </div>",
          "storeOutMessages": true,
          "fwdInMessages": true,
          "resendOnRefresh": true,
          "templateScope": "local",
          "x": 500,
          "y": 380,
          "wires": [[]]
        }
      ]
    },
    
    "parachute_telemetry": {
      "name": "Parachute Drop Telemetry",
      "description": "Real-time telemetry dashboard for CT-084 parachute drop system monitoring",
      "category": "telemetry",
      "flows": [
        {
          "id": "parachute_tab",
          "type": "ui_tab",
          "name": "Parachute Drop",
          "icon": "flight_takeoff",
          "order": 1,
          "disabled": false,
          "hidden": false
        },
        {
          "id": "mission_status_group",
          "type": "ui_group",
          "name": "Mission Status",
          "tab": "parachute_tab",
          "order": 1,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "mission_phase",
          "type": "ui_template",
          "group": "mission_status_group",
          "name": "Mission Phase",
          "order": 1,
          "width": "24",
          "height": "3",
          "format": "<div style=\"display: flex; justify-content: center; align-items: center; padding: 20px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); border-radius: 10px; color: white;\"> <div style=\"text-align: center;\"> <div style=\"font-size: 32px; font-weight: bold; margin-bottom: 10px;\">{{msg.payload.phase || 'STANDBY'}}</div> <div style=\"font-size: 16px; opacity: 0.9;\">Mission Phase</div> <div style=\"font-size: 14px; opacity: 0.7; margin-top: 5px;\">{{msg.payload.description || 'System Ready for Deployment'}}</div> </div> </div>",
          "storeOutMessages": true,
          "fwdInMessages": true,
          "resendOnRefresh": true,
          "templateScope": "local",
          "x": 400,
          "y": 80,
          "wires": [[]]
        },
        {
          "id": "telemetry_group",
          "type": "ui_group",
          "name": "Live Telemetry",
          "tab": "parachute_tab",
          "order": 2,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "altitude_gauge",
          "type": "ui_gauge",
          "group": "telemetry_group",
          "name": "Altitude",
          "order": 1,
          "width": "6",
          "height": "5",
          "gtype": "gage",
          "title": "Altitude",
          "label": "m",
          "format": "{{value}}",
          "min": 0,
          "max": 10000,
          "colors": ["#ca3838", "#e6e600", "#00b500"],
          "seg1": "1000",
          "seg2": "5000",
          "className": "",
          "x": 150,
          "y": 150,
          "wires": []
        },
        {
          "id": "velocity_gauge",
          "type": "ui_gauge",
          "group": "telemetry_group",
          "name": "Velocity",
          "order": 2,
          "width": "6",
          "height": "5",
          "gtype": "gage",
          "title": "Velocity",
          "label": "m/s",
          "format": "{{value}}",
          "min": 0,
          "max": 100,
          "colors": ["#00b500", "#e6e600", "#ca3838"],
          "seg1": "60",
          "seg2": "80",
          "className": "",
          "x": 270,
          "y": 150,
          "wires": []
        },
        {
          "id": "gps_map",
          "type": "ui_worldmap",
          "group": "telemetry_group",
          "name": "GPS Position",
          "order": 3,
          "width": "12",
          "height": "8",
          "zoom": "15",
          "layer": "OSM",
          "cluster": "",
          "maxage": "",
          "usermenu": "show",
          "layers": "show",
          "panit": "false",
          "panlock": "false",
          "zoomlock": "false",
          "hiderightclick": "true",
          "coords": "false",
          "showgrid": "false",
          "allowFileDrop": "false",
          "path": "/worldmap",
          "overlist": "DR,CO,RA,DN,HM",
          "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriWG,EsriDG,EsriAerial,Nat2,Ter",
          "mapname": "",
          "mapurl": "",
          "mapopt": "",
          "mapwms": false,
          "x": 500,
          "y": 150,
          "wires": []
        },
        {
          "id": "accelerometer_group",
          "type": "ui_group",
          "name": "Accelerometer Data",
          "tab": "parachute_tab",
          "order": 3,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "accel_chart",
          "type": "ui_chart",
          "group": "accelerometer_group",
          "name": "3-Axis Acceleration",
          "order": 1,
          "width": "24",
          "height": "8",
          "label": "Acceleration (g)",
          "chartType": "line",
          "legend": "true",
          "xformat": "HH:mm:ss",
          "interpolate": "linear",
          "nodata": "No Acceleration Data",
          "dot": false,
          "ymin": "-10",
          "ymax": "10",
          "removeOlder": 1,
          "removeOlderPoints": "",
          "removeOlderUnit": "300",
          "cutout": 0,
          "useOneColor": false,
          "useUTC": false,
          "colors": ["#ff0000", "#00ff00", "#0000ff"],
          "outputs": 1,
          "x": 400,
          "y": 280,
          "wires": [[]]
        },
        {
          "id": "system_health_group",
          "type": "ui_group",
          "name": "System Health",
          "tab": "parachute_tab",
          "order": 4,
          "disp": true,
          "width": "24",
          "collapse": false
        },
        {
          "id": "battery_level",
          "type": "ui_level",
          "group": "system_health_group",
          "name": "Battery Level",
          "order": 1,
          "width": "6",
          "height": "3",
          "min": "0",
          "max": "12",
          "seg1": "10",
          "seg2": "11",
          "colorHi": "#c0392b",
          "colorWarn": "#f39c12",
          "colorNormal": "#27ae60",
          "colorOff": "#7f8c8d",
          "showValue": true,
          "alwaysShowValue": true,
          "valueFormat": "{{value}} V",
          "tickmode": "segments",
          "ticks": "10",
          "label": "Battery",
          "units": "V",
          "layout": "sh",
          "channelA": "",
          "channelB": "",
          "decimals": 1,
          "animations": "soft",
          "shape": "3",
          "colorTrack": "#37474f",
          "colorBar": "#37474f",
          "colorSlider": "#37474f",
          "sliderType": "brightness",
          "channelSlider": "",
          "x": 150,
          "y": 350,
          "wires": []
        },
        {
          "id": "signal_strength",
          "type": "ui_gauge",
          "group": "system_health_group",
          "name": "Signal Strength",
          "order": 2,
          "width": "6",
          "height": "3",
          "gtype": "gage",
          "title": "Signal",
          "label": "dBm",
          "format": "{{value}}",
          "min": -120,
          "max": 0,
          "colors": ["#ca3838", "#e6e600", "#00b500"],
          "seg1": "-100",
          "seg2": "-70",
          "className": "",
          "x": 270,
          "y": 350,
          "wires": []
        },
        {
          "id": "deployment_status",
          "type": "ui_led",
          "group": "system_health_group",
          "name": "Deployment Status",
          "order": 3,
          "width": "6",
          "height": "3",
          "label": "Parachute Deployed",
          "labelPlacement": "left",
          "labelAlignment": "left",
          "colorForValue": [
            {"color": "#ff0000", "value": "false", "valueType": "bool"},
            {"color": "#00ff00", "value": "true", "valueType": "bool"}
          ],
          "allowColorForValueInMessage": false,
          "shape": "circle",
          "showGlow": true,
          "name": "Deployment Status",
          "x": 390,
          "y": 350,
          "wires": []
        },
        {
          "id": "mission_timer",
          "type": "ui_text",
          "group": "system_health_group",
          "name": "Mission Timer",
          "order": 4,
          "width": "6",
          "height": "3",
          "label": "Mission Time",
          "format": "{{msg.payload || '00:00:00'}}",
          "layout": "row-spread",
          "className": "",
          "x": 510,
          "y": 350,
          "wires": []
        }
      ]
    }
  },
  
  "deployment_configs": {
    "raspberry_pi": {
      "name": "Raspberry Pi Deployment",
      "description": "Optimized configuration for Raspberry Pi 4 with industrial I/O",
      "hardware_requirements": {
        "cpu": "ARM64 (Raspberry Pi 4)",
        "memory": "4GB RAM minimum",
        "storage": "32GB industrial SD card",
        "io": "GPIO, USB, Ethernet"
      },
      "node_red_settings": {
        "httpAdminRoot": "/admin",
        "httpNodeRoot": "/api",
        "uiPort": 1880,
        "uiHost": "0.0.0.0",
        "userDir": "/home/pi/.node-red",
        "functionGlobalContext": {
          "os": "require('os')",
          "fs": "require('fs')",
          "path": "require('path')"
        }
      },
      "required_nodes": [
        "node-red-dashboard",
        "node-red-contrib-phidget22",
        "node-red-contrib-opcua",
        "node-red-contrib-modbus",
        "node-red-node-rbe"
      ]
    },
    
    "industrial_pc": {
      "name": "Industrial PC Deployment",
      "description": "High-performance configuration for industrial PC with multiple protocols",
      "hardware_requirements": {
        "cpu": "x86_64 (Intel/AMD)",
        "memory": "8GB RAM minimum",
        "storage": "128GB SSD",
        "io": "Multiple serial ports, Ethernet, fieldbus"
      },
      "node_red_settings": {
        "httpAdminRoot": "/admin",
        "httpNodeRoot": "/api",
        "uiPort": 1880,
        "uiHost": "0.0.0.0",
        "userDir": "/opt/node-red",
        "adminAuth": {
          "type": "credentials",
          "users": [
            {
              "username": "admin",
              "password": "$2b$08$hash",
              "permissions": "*"
            }
          ]
        },
        "functionGlobalContext": {
          "os": "require('os')",
          "fs": "require('fs')",
          "path": "require('path')",
          "moment": "require('moment')"
        }
      },
      "required_nodes": [
        "node-red-dashboard",
        "node-red-contrib-opcua",
        "node-red-contrib-modbus",
        "node-red-contrib-s7",
        "node-red-contrib-bacnet",
        "node-red-contrib-influxdb",
        "node-red-node-mysql"
      ]
    }
  }
}