parachute-drop/brewery-touchscreen-dashboard.json
[
    {
        "id": "brewery_dashboard",
        "type": "tab",
        "label": "Brewery Monitor",
        "disabled": false,
        "info": "7-inch touchscreen dashboard for brewery monitoring"
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red-dashboard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Brewery/Main/Status/NodeRED",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "{\"status\":\"online\",\"timestamp\":\"$timestamp\"}",
        "birthMsg": {},
        "closeTopic": "Brewery/Main/Status/NodeRED",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "{\"status\":\"offline\",\"timestamp\":\"$timestamp\"}",
        "closeMsg": {},
        "willTopic": "Brewery/Main/Status/NodeRED",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "{\"status\":\"disconnected\",\"timestamp\":\"$timestamp\"}",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0A5F8C",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#1E3A5F",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Brewery Professional",
                "default": "#2C5282",
                "baseColor": "#1A365D",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#2C5282",
                    "value": "#1A365D",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#1A365D",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#F7FAFC",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#2D3748",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#2D3748",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#CBD5E0",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#2D3748",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#FFFFFF",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#E2E8F0",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Brewery Monitor",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "MM/DD/YYYY",
            "sizes": {
                "sx": 32,
                "sy": 32,
                "gx": 8,
                "gy": 8,
                "cx": 8,
                "cy": 8,
                "px": 8,
                "py": 8
            }
        }
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Main Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_status",
        "type": "ui_group",
        "name": "System Status",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ui_group_temperature",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_humidity",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_trends",
        "type": "ui_group",
        "name": "24 Hour Trends",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "mqtt_environment",
        "type": "mqtt in",
        "z": "brewery_dashboard",
        "name": "Environment Data",
        "topic": "Brewery/Main/Fermentation/Tank1/Environment",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["parse_environment", "store_data"]]
    },
    {
        "id": "parse_environment",
        "type": "function",
        "z": "brewery_dashboard",
        "name": "Parse Environment",
        "func": "// Extract temperature and humidity\nif (msg.payload.temperature !== null) {\n    node.send([{\n        payload: msg.payload.temperature,\n        topic: \"temperature\"\n    }, null]);\n}\n\nif (msg.payload.humidity !== null) {\n    node.send([null, {\n        payload: msg.payload.humidity,\n        topic: \"humidity\"\n    }]);\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            ["temp_gauge", "temp_text", "temp_chart"],
            ["humidity_gauge", "humidity_text", "humidity_chart"]
        ]
    },
    {
        "id": "temp_gauge",
        "type": "ui_gauge",
        "z": "brewery_dashboard",
        "name": "Temperature Gauge",
        "group": "ui_group_temperature",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": "0",
        "max": "40",
        "colors": ["#0080FF", "#00B500", "#FF8000"],
        "seg1": "15",
        "seg2": "25",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "temp_text",
        "type": "ui_text",
        "z": "brewery_dashboard",
        "group": "ui_group_temperature",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "Temperature Display",
        "label": "Current Temperature",
        "format": "<font size='+3'>{{msg.payload | number:1}}°C</font>",
        "layout": "col-center",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "humidity_gauge",
        "type": "ui_gauge",
        "z": "brewery_dashboard",
        "name": "Humidity Gauge",
        "group": "ui_group_humidity",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "wave",
        "title": "",
        "label": "%RH",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": ["#FF8000", "#00B500", "#0080FF"],
        "seg1": "30",
        "seg2": "80",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "humidity_text",
        "type": "ui_text",
        "z": "brewery_dashboard",
        "group": "ui_group_humidity",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "Humidity Display",
        "label": "Current Humidity",
        "format": "<font size='+3'>{{msg.payload | number:0}}%</font>",
        "layout": "col-center",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "store_data",
        "type": "function",
        "z": "brewery_dashboard",
        "name": "Store for Trends",
        "func": "// Store data points for trend chart\nlet data = context.get('trendData') || [];\n\n// Add new data point\ndata.push({\n    timestamp: new Date().toISOString(),\n    temperature: msg.payload.temperature,\n    humidity: msg.payload.humidity\n});\n\n// Keep only last 24 hours (1440 points at 1 minute intervals)\nconst oneDayAgo = new Date(Date.now() - 24 * 60 * 60 * 1000);\ndata = data.filter(d => new Date(d.timestamp) > oneDayAgo);\n\n// Store updated data\ncontext.set('trendData', data);\n\n// Format for chart\nlet tempData = [];\nlet humidityData = [];\n\ndata.forEach(point => {\n    const time = new Date(point.timestamp);\n    if (point.temperature !== null) {\n        tempData.push({\n            x: time,\n            y: point.temperature\n        });\n    }\n    if (point.humidity !== null) {\n        humidityData.push({\n            x: time,\n            y: point.humidity\n        });\n    }\n});\n\nmsg.payload = [\n    {\n        series: [\"Temperature °C\"],\n        data: [tempData],\n        labels: [\"Temperature\"]\n    },\n    {\n        series: [\"Humidity %RH\"],\n        data: [humidityData],\n        labels: [\"Humidity\"]\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [["trend_chart"]]
    },
    {
        "id": "temp_chart",
        "type": "ui_chart",
        "z": "brewery_dashboard",
        "name": "Temperature Trend",
        "group": "ui_group_temperature",
        "order": 3,
        "width": "6",
        "height": "3",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": ["#2C5282", "#00B500", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "humidity_chart",
        "type": "ui_chart",
        "z": "brewery_dashboard",
        "name": "Humidity Trend",
        "group": "ui_group_humidity",
        "order": 3,
        "width": "6",
        "height": "3",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": ["#0080FF", "#00B500", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "trend_chart",
        "type": "ui_chart",
        "z": "brewery_dashboard",
        "name": "24 Hour Trends",
        "group": "ui_group_trends",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "Collecting data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "1440",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#2C5282", "#0080FF", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 560,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "status_indicator",
        "type": "ui_text",
        "z": "brewery_dashboard",
        "group": "ui_group_status",
        "order": 1,
        "width": "8",
        "height": "2",
        "name": "System Status",
        "label": "",
        "format": "<div style='text-align:center; padding:20px;'>\n    <i class='fa fa-check-circle' style='font-size:48px; color:#48BB78;'></i>\n    <h2>Parachute Drop Active</h2>\n    <p style='font-size:18px;'>{{msg.payload.location || 'Fermentation/Tank1'}}</p>\n</div>",
        "layout": "col-center",
        "x": 360,
        "y": 300,
        "wires": []
    },
    {
        "id": "heartbeat_monitor",
        "type": "mqtt in",
        "z": "brewery_dashboard",
        "name": "Pi Heartbeat",
        "topic": "Brewery/Main/Heartbeat/PhidgetPi",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [["status_indicator"]]
    },
    {
        "id": "alarm_monitor",
        "type": "mqtt in",
        "z": "brewery_dashboard",
        "name": "Alarm Monitor",
        "topic": "Brewery/Main/Alarms/+/+/+",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [["alarm_handler"]]
    },
    {
        "id": "alarm_handler",
        "type": "function",
        "z": "brewery_dashboard",
        "name": "Alarm Handler",
        "func": "// Handle alarms with visual and audio alerts\nif (msg.payload.severity === 'warning') {\n    // Create notification\n    let notification = {\n        payload: `⚠️ ${msg.payload.sensor.toUpperCase()} ALARM: ${msg.payload.message}`,\n        highlight: true,\n        socketid: msg.socketid\n    };\n    \n    // Send to notification widget\n    node.send([notification, null]);\n    \n    // Also create a toast notification\n    let toast = {\n        topic: \"Sensor Alarm\",\n        payload: msg.payload.message,\n        priority: 2\n    };\n    \n    node.send([null, toast]);\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            ["alarm_display"],
            ["alarm_toast"]
        ]
    },
    {
        "id": "alarm_display",
        "type": "ui_text",
        "z": "brewery_dashboard",
        "group": "ui_group_status",
        "order": 2,
        "width": "8",
        "height": "1",
        "name": "Alarm Display",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "alarm_toast",
        "type": "ui_toast",
        "z": "brewery_dashboard",
        "position": "top right",
        "displayTime": "10",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Alarm Notification",
        "x": 570,
        "y": 400,
        "wires": []
    }
]